@import url("bootstrap/bootstrap.min.css");
@import url("gcrud.css");

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #EAEAEA;
}

/* Bootstrap fixes */
.container,
.navbar-fixed-top .container {
	margin: 0 auto;
	width: 1000px;
}
.navbar {
	margin: 0;
}
.navbar-inner {
	padding: 0;
}
.header {
	padding: 20px 0;
	background: url(../img/tshatter.png) left -315px repeat-x #ff4513;
	margin-bottom: 20px;
}
.header * {
	color: #FFF;
}
.header a {
	text-decoration: underline;
}
.header a:hover {
	color: #CCC;
}
